table {
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

.activo {
  color: green;
  font-weight: bold;
}

.inactivo {
  color: red;
  font-weight: bold;
}

.mat-icon-button {
  margin-right: 5px;
}
.hotel-table {
  margin: 30px;
  padding: 30px;
}

table {
  width: 100%;
}
.buscador{
  width: 300px;
}
mat-chip {
color : white!important;
  text-transform: uppercase;
}
