<!-- Navbar Superior -->
<mat-toolbar color="primary">
  <span class="logo">HotelesAPP</span>

  <span class="spacer"></span>

  <!-- Botones de navegación -->
  <button mat-button routerLink="/dashboard/hoteles" routerLinkActive="active">
    <mat-icon>business</mat-icon> Hoteles
  </button>
  <button mat-button routerLink="/dashboard/habitaciones" routerLinkActive="active">
    <mat-icon>hotel</mat-icon> Habitaciones
  </button>
  <button mat-button routerLink="/dashboard/reservas" routerLinkActive="active">
    <mat-icon>book_online</mat-icon> Reservas
  </button>
   <!-- Botón de salida -->
   <button mat-button class="logout-btn" (click)="cerrarSesion()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<!-- Contenido Principal -->
<div class="content">
  <router-outlet></router-outlet>
</div>
