.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.add-button {
   /* Azul Material Design */
  color: #1976d2  !important; /* Texto blanco */
  height: 30px;
  width: 40px;
  border-radius: 10px;
}


