<h2 mat-dialog-title>Editar Habitacion</h2>
<mat-dialog-content>
  <form [formGroup]="habitacionForm">
    <div class="form-container">
      <mat-form-field appearance="outline" class="full-width mt-3 me-3">
        <mat-label>Habitacion</mat-label>
        <input matInput type="text" formControlName="nombre" required>
        <mat-error *ngIf="habitacionForm.get('nombre')?.invalid">Ingrese una habitacion</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width mt-3 me-3">
        <mat-label>Tipo de Habitación</mat-label>
        <mat-select formControlName="tipo" required>
          <mat-option *ngFor="let tipo of tiposHabitacion" [value]="tipo">{{ tipo }}</mat-option>
        </mat-select>
        <mat-error *ngIf="habitacionForm.get('tipo')?.invalid">Seleccione un tipo</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width mt-3 me-3">
        <mat-label>Ubicacion</mat-label>
        <mat-select formControlName="ubicacion" required>
          <mat-option *ngFor="let ubicacion of UbicacionHotel" [value]="ubicacion">{{ ubicacion }}</mat-option>
        </mat-select>
        <mat-error *ngIf="habitacionForm.get('ubicacion')?.invalid">Seleccione la ubicacion</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width mt-3 me-3">
        <mat-label>Capacidad</mat-label>
        <input matInput type="number" formControlName="capacidad" required>
        <mat-error *ngIf="habitacionForm.get('capacidad')?.invalid">Ingrese la capacidad maxima de la habitacion</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width mt-3 me-3">
        <mat-label>Costo Base</mat-label>
        <input matInput type="number" formControlName="costoBase" required>
        <mat-error *ngIf="habitacionForm.get('costoBase')?.invalid">Ingrese un costo válido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width mt-3 me-3">
        <mat-label>Impuestos</mat-label>
        <input matInput type="number" formControlName="impuestos" required>
        <mat-error *ngIf="habitacionForm.get('impuestos')?.invalid">Ingrese impuestos válidos</mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="disponible">Disponible</mat-checkbox>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardarCambios()" [disabled]="habitacionForm.invalid">
    Guardar
  </button>
</mat-dialog-actions>
